<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2023</span>
    </div>

</footer> -->

<footer class="footer text-center text-white bg-dark py-3 mt-auto">
    <div class="container">
        <footer class="mt-auto">
          <p class="">&copy; YelpCamp 2023</p>
        </footer>
      </div>
</footer> 
